<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">UserAdministration</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AddEmployee" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Add Employes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ShowEmployees" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Show Employees
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="EditEmployee" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Edit Employees
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
