@page "/AddEmployee"

@inherits UserAdministration.Data.Employee

<h1>Add Employee</h1>

<EditForm Model="@Employee" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label for="FirstName">First Name</label>
    <InputText id="firstName" @bind-Value="Employee.Firstname"></InputText>
    <br />
    <label for="FirstName">Last Name</label>
    <InputText id="firstName" @bind-Value="Employee.Lastname"></InputText>
    <br />
    <label for="FirstName">SSN</label>
    <InputText id="firstName" @bind-Value="Employee.SocialSecurityNumber"></InputText>
    <br />
    <label for="BirthDate">Birthdate</label>
    <InputDate id="BirthDate" @bind-Value="Employee.Birthdate"></InputDate>
    <br />
    <label for="IsActive">Is Active?</label>
    <input type="checkbox" id="IsActive" @bind="Employee.IsActive"></input>
    <br />

    <button type="submit">Add Employee</button>

</EditForm>



@code {

    public UserAdministration.Data.Employee Employee = new Data.Employee();
    public string employeeID;


    public void HandleValidSubmit()
    {
        Employee.ID = Employee.SocialSecurityNumber + Employee.Firstname;
        Console.WriteLine("HandleValidSubmit called");
        UserAdministration.Data.Employee.WriteEmployeeToCSV(Employee);
        employeeID = Employee.ID;
        UserAdministration.Data.Vacation.WriteEmployeeToCSV(employeeID);
        Employee = new Data.Employee();
    }
}
