@page "/EmployeeCount"

<h3>EmployeeCount</h3>

<EditForm Model="@EmployeeList">
    @(NumberOfEmployeesString)

    <br />

    @(CalculatedGrowthString)


</EditForm>

    @code {
        public List<Data.Employee> EmployeeList;
        private string CalculatedGrowthString;
        private string NumberOfEmployeesString;


        protected override void OnInitialized()
        {
            EmployeeList = Data.Employee.ReadAllEmployees();
            CalculatedGrowthString = CalculateGrowth();
            NumberOfEmployeesString = NumberOfEmployees();
        }

        public string CalculateGrowth()
        {
            double startAmount = 3;
            double actualAmount = EmployeeList.Count();
            double growth = actualAmount / startAmount * 100;
            return "This is a growth of " + Math.Round(growth, 2).ToString() + " percent";
        }

        public string NumberOfEmployees()
        {
            return "The number of our Employees has grown from 3 to " + EmployeeList.Count();
        }
    }
