@page "/ShowEmployees"

@inherits UserAdministration.Data.Employee

<h3>ShowEmployees</h3>
<p>This component demonstrates fetching data from a service.</p>

<table class="table">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Security Number</th>
            <th>Birthdate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in employees)
        {
            <tr>
                <td>@employee.Firstname</td>
                <td>@employee.Lastname</td>
                <td>@employee.SocialSecurityNumber</td>
                <td>@employee.Birthdate</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<UserAdministration.Data.Employee> employees = new List<UserAdministration.Data.Employee>();

    protected override async Task OnInitializedAsync()
    {
        employees = await Task.FromResult(UserAdministration.Data.Employee.ReadAllEmployees());
    }
}